@import "@mdi/font/css/materialdesignicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav__left-shadow{
    box-shadow: -15px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.scrollbar-thin::-webkit-scrollbar {
    width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: rgb(209 213 219);
    border-radius: 20px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background-color: rgb(156 163 175);
}
